SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010. SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

## CONNECT TO THE DATASET

In [1]:
#Let us first load the SQL extension and establish a connection with the database
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [2]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

C:\Users\mauri\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

101

In [5]:
import csv, sqlite3
import pandas as pd
from prettytable import PrettyTable

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Load the SpaceX CSV data into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Load the DataFrame into the SQLite table "SPACEXTBL"
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Drop the "SPACEXTABLE" if it exists (to start fresh)
cur.execute("DROP TABLE IF EXISTS SPACEXTABLE")

# Create a new "SPACEXTABLE" from "SPACEXTBL" excluding rows with null 'Date' values
cur.execute("CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTBL WHERE Date IS NOT NULL")

# Commit the changes and close the connection
con.commit()

#Optional: Verify the table creation and the data.
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Tables in the database:", cur.fetchall())

cur.execute("SELECT count(*) FROM SPACEXTABLE")
print("Number of rows in SPACEXTABLE:", cur.fetchone()[0])

con.close()

Tables in the database: [('SPACEXTBL',), ('SPACEXTABLE',)]
Number of rows in SPACEXTABLE: 101

In [7]:
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
cur.execute("SELECT DISTINCT Launch_Site FROM SPACEXTABLE;")

# Fetch the results
results = cur.fetchall()

# Create a PrettyTable to display the results in a user-friendly format
table = PrettyTable()
table.field_names = ["Launch Site"]  # Set the column header
for row in results:
    table.add_row(row)  # Add each row of data to the table

# Print the table
print(table)

# Close the connection
con.close()

+--------------+
| Launch Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+

In [8]:
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query to select the first 5 launch sites that start with 'CCA'
cur.execute("SELECT Launch_Site FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;")

# Fetch the results
results = cur.fetchall()

# Create a PrettyTable to display the results
table = PrettyTable()
table.field_names = ["Launch Site"]
for row in results:
    table.add_row(row)

# Print the table
print(table)

# Close the connection
con.close()

+-------------+
| Launch Site |
+-------------+
| CCAFS LC-40 |
| CCAFS LC-40 |
| CCAFS LC-40 |
| CCAFS LC-40 |
| CCAFS LC-40 |
+-------------+

In [9]:
#Display the total payload mass carried by boosters launched by NASA (CRS)
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query to calculate the total payload mass for NASA (CRS)
cur.execute("SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)';")

# Fetch the result
result = cur.fetchone()

# Create a PrettyTable to display the result
table = PrettyTable()
table.field_names = ["Total Payload Mass (KG)"]
table.add_row(result)

# Print the table
print(table)

# Close the connection
con.close()

+-------------------------+
| Total Payload Mass (KG) |
+-------------------------+
|          45596          |
+-------------------------+

In [10]:
#Display average payload mass carried by booster version F9 v1.1
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query to calculate the average payload mass for F9 v1.1
cur.execute("SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1';")

# Fetch the result
result = cur.fetchone()

# Create a PrettyTable to display the result
table = PrettyTable()
table.field_names = ["Average Payload Mass (KG)"]
table.add_row(result)

# Print the table
print(table)

# Close the connection
con.close()

+---------------------------+
| Average Payload Mass (KG) |
+---------------------------+
|           2928.4          |
+---------------------------+

In [11]:
#List the date when the first succesful landing outcome in ground pad was acheived.
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query to find the earliest date of a successful ground pad landing
cur.execute("SELECT MIN(Date) FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (ground pad)';")

# Fetch the result
result = cur.fetchone()

# Create a PrettyTable to display the result
table = PrettyTable()
table.field_names = ["First Successful Ground Pad Landing Date"]
table.add_row(result)

# Print the table
print(table)

# Close the connection
con.close()

+------------------------------------------+
| First Successful Ground Pad Landing Date |
+------------------------------------------+
|                2015-12-22                |
+------------------------------------------+

In [12]:
#List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT Booster_Version
    FROM SPACEXTABLE
    WHERE Landing_Outcome = 'Success (drone ship)'
    AND PAYLOAD_MASS__KG_ > 4000
    AND PAYLOAD_MASS__KG_ < 6000;
""")

# Fetch the results
results = cur.fetchall()

# Create a PrettyTable to display the results
table = PrettyTable()
table.field_names = ["Booster Version"]
for row in results:
    table.add_row(row)

# Print the table
print(table)

# Close the connection
con.close()

+-----------------+
| Booster Version |
+-----------------+
|   F9 FT B1022   |
|   F9 FT B1026   |
|  F9 FT  B1021.2 |
|  F9 FT  B1031.2 |
+-----------------+

In [14]:
#List the total number of successful and failure mission outcomes
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT Mission_Outcome, COUNT(*) AS Total
    FROM SPACEXTABLE
    GROUP BY Mission_Outcome;
""")

# Fetch the results
results = cur.fetchall()

# Create a PrettyTable to display the results
table = PrettyTable()
table.field_names = ["Mission Outcome", "Total"]
for row in results:
    table.add_row(row)

# Print the table
print(table)

# Close the connection
con.close()

+----------------------------------+-------+
|         Mission Outcome          | Total |
+----------------------------------+-------+
|       Failure (in flight)        |   1   |
|             Success              |   98  |
|             Success              |   1   |
| Success (payload status unclear) |   1   |
+----------------------------------+-------+

In [15]:
#List all the booster_versions that have carried the maximum payload mass. Use a subquery.
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT Booster_Version
    FROM SPACEXTABLE
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);
""")

# Fetch the results
results = cur.fetchall()

# Create a PrettyTable to display the results
table = PrettyTable()
table.field_names = ["Booster Version"]
for row in results:
    table.add_row(row)

# Print the table
print(table)

# Close the connection
con.close()

+-----------------+
| Booster Version |
+-----------------+
|  F9 B5 B1048.4  |
|  F9 B5 B1049.4  |
|  F9 B5 B1051.3  |
|  F9 B5 B1056.4  |
|  F9 B5 B1048.5  |
|  F9 B5 B1051.4  |
|  F9 B5 B1049.5  |
|  F9 B5 B1060.2  |
|  F9 B5 B1058.3  |
|  F9 B5 B1051.6  |
|  F9 B5 B1060.3  |
|  F9 B5 B1049.7  |
+-----------------+

In [16]:
#List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.
#Note: SQLLite does not support monthnames. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.

import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT
        CASE
            substr(Date, 6, 2)
            WHEN '01' THEN 'January'
            WHEN '02' THEN 'February'
            WHEN '03' THEN 'March'
            WHEN '04' THEN 'April'
            WHEN '05' THEN 'May'
            WHEN '06' THEN 'June'
            WHEN '07' THEN 'July'
            WHEN '08' THEN 'August'
            WHEN '09' THEN 'September'
            WHEN '10' THEN 'October'
            WHEN '11' THEN 'November'
            WHEN '12' THEN 'December'
        END AS Month,
        Landing_Outcome,
        Booster_Version,
        Launch_Site
    FROM SPACEXTABLE
    WHERE substr(Date, 0, 5) = '2015'
    AND Landing_Outcome = 'Failure (drone ship)';
""")

# Fetch the results
results = cur.fetchall()

# Create a PrettyTable to display the results
table = PrettyTable()
table.field_names = ["Month", "Landing Outcome", "Booster Version", "Launch Site"]
for row in results:
    table.add_row(row)

# Print the table
print(table)

# Close the connection
con.close()

+---------+----------------------+-----------------+-------------+
|  Month  |   Landing Outcome    | Booster Version | Launch Site |
+---------+----------------------+-----------------+-------------+
| January | Failure (drone ship) |  F9 v1.1 B1012  | CCAFS LC-40 |
|  April  | Failure (drone ship) |  F9 v1.1 B1015  | CCAFS LC-40 |
+---------+----------------------+-----------------+-------------+

In [17]:
#Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.
import sqlite3
from prettytable import PrettyTable

# Connect to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT Landing_Outcome, COUNT(*) AS OutcomeCount
    FROM SPACEXTABLE
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY Landing_Outcome
    ORDER BY OutcomeCount DESC;
""")

# Fetch the results
results = cur.fetchall()

# Create a PrettyTable to display the results
table = PrettyTable()
table.field_names = ["Landing Outcome", "Outcome Count"]
for row in results:
    table.add_row(row)

# Print the table
print(table)

# Close the connection
con.close()

+------------------------+---------------+
|    Landing Outcome     | Outcome Count |
+------------------------+---------------+
|       No attempt       |       10      |
|  Success (drone ship)  |       5       |
|  Failure (drone ship)  |       5       |
|  Success (ground pad)  |       3       |
|   Controlled (ocean)   |       3       |
|  Uncontrolled (ocean)  |       2       |
|  Failure (parachute)   |       2       |
| Precluded (drone ship) |       1       |
+------------------------+---------------+